{% load staticfiles %}

{% url 'write' as url_write %}
{% url 'report' as url_report %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/beelinestyle.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>

<body class="bg-google">
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
      <br>
        <div class="panel panel-body">
          <div class="panel-body">
            <h3 class="text-uppercase">
              {% block head %}
              <a href="{{ url_write }}" class="btn btn-lg modern {% if request.path == url_write %} active {% endif %} ">Событие</a>
              <a href="{{ url_report }}" class="btn btn-lg modern {% if request.path == url_report %} active {% endif %}">Отчёт</a>
              <a href="{% url 'logout' %}" class="btn btn-lg modern pull-right">X</a>
              {% endblock %}
            </h3>
            <hr>
          </div>
          {% block page %}{% endblock %}
        </div>
      </div>
    </div>
    {% block content %}
    {% endblock %}
  </div>



</body>
</html>
